.header nav ul{
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
}

.hamburger{
    display: none;
}
.bar{
    display:block ;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
@media(max-width:900px){
    .hamburger{
        display: block;
        background: transparent;
  border: none;
    }
    .hamburger.active > .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active > .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active > .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .header nav ul{
        position: fixed;
        background-color: #f7f6ee;
        padding: 0.5rem;
        height: 60px;
        gap: 0;
        left: -100%;
        top: 50px;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .header nav ul li a{
        color: rgb(56, 54, 54);
    }
    .nav-menu.active{
        left: 0;
    }
    .nav-link{
        margin:0;
    }
}
