* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: #f7f6ee;
  color: rgb(56, 54, 54);
  font-family: "Nunito Sans", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #0d0000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.logo {
  color: white;
}
.header a {
  text-decoration: none;
  color: whitesmoke;
  padding: 0.8rem;
  border-radius: 5px;
  transition: 0.3s;
}
.header a:hover {
  color: #9bcdec;
}
.header li {
  list-style: none;
}
.header span {
  font-size: 1.5rem;
}
main {
  margin-top: 4.5rem;
  padding: 2%;
}
.project__wrapper h2 {
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5em;
  font-weight: 900;
  margin: 0;
}
.chevron {
  display: none;
}
h3:hover .chevron {
  display: block;

  padding: 0;
  margin: 0;
}
.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
}
.proj {
  display: grid;
}

.proj_img {
  width: 100%;
  height: 275px;
  border-radius: 10px;
}
.proj_des {
  opacity: 0;
}
.show {
  background-color: antiquewhite;
  opacity: 1;
  text-align: center;
  font-size: 0.85rem;
}
.more {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.more a {
  color: #251313;
  text-decoration: none;
  font-weight: 700;
}
.proj_des span {
  color: rgb(161, 158, 158);
}
button {
  border: 1px solid #185b85;
  background-color: #62acda;
  border-radius: 10px;
  padding: 0.5rem;
  transition: 0.3s;
  font-weight: 700;
}
button:hover {
  background-color: #b1cddf;
}
@media (min-width: 900px) {
  main {
    padding: 0;
  }
  .proj {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 1%;
  }
  .proj_img,
  .proj_des {
    grid-row: 1 / 2;
  }
  .proj_img {
    width: 100%;
    height: 100%;

    object-fit: contain;
    grid-column: 1 / 4;
    border-radius: 30px;
  }
  .proj_des {
    opacity: 0;
  }
  .show {
    grid-column: 3 / -1;
    background-color: antiquewhite;
    align-self: flex-end;
    gap: 3rem;
    padding: 1rem;
    border-top-left-radius: 50px;
    text-align: center;
    opacity: 1;
  }
}
